In [1]:
import pandas as pd
employees = pd.read_csv('Employee.csv')
employees

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [2]:
ages = employees['Age']

In [3]:
ages

0       34
1       28
2       38
3       27
4       24
        ..
4648    26
4649    37
4650    27
4651    30
4652    33
Name: Age, Length: 4653, dtype: int64

In [4]:
ages[ages>25]

0       34
1       28
2       38
3       27
6       38
        ..
4648    26
4649    37
4650    27
4651    30
4652    33
Name: Age, Length: 3753, dtype: int64

In [5]:
ages[ages<25].count()

np.int64(482)

In [6]:
ages[ages<=25].count()

np.int64(900)

In [7]:
ages[ages==25].count()

np.int64(418)

In [9]:
ages[ages!=25].count()

np.int64(4235)

In [10]:
ages.loc[ages==25]

30      25
62      25
72      25
74      25
83      25
        ..
4580    25
4597    25
4614    25
4630    25
4646    25
Name: Age, Length: 418, dtype: int64

In [11]:
ages.loc[ages>25]

0       34
1       28
2       38
3       27
6       38
        ..
4648    26
4649    37
4650    27
4651    30
4652    33
Name: Age, Length: 3753, dtype: int64

In [12]:
ages.filter(items = [2])

2    38
Name: Age, dtype: int64

In [13]:
ages.filter(items = [2,200 , 99])

2      38
200    25
99     24
Name: Age, dtype: int64

In [16]:
employees = pd.read_csv('Employee.csv' , usecols = ['Education' , 'Age'] , index_col = 'Education').squeeze()
employees

Education
Bachelors    34
Bachelors    28
Bachelors    38
Masters      27
Masters      24
             ..
Bachelors    26
Masters      37
Masters      27
Bachelors    30
Bachelors    33
Name: Age, Length: 4653, dtype: int64

In [17]:
employees.filter(like='B')

Education
Bachelors    34
Bachelors    28
Bachelors    38
Bachelors    22
Bachelors    38
             ..
Bachelors    25
Bachelors    30
Bachelors    26
Bachelors    30
Bachelors    33
Name: Age, Length: 3601, dtype: int64

In [18]:
employees.filter(like='r')

Education
Bachelors    34
Bachelors    28
Bachelors    38
Masters      27
Masters      24
             ..
Bachelors    26
Masters      37
Masters      27
Bachelors    30
Bachelors    33
Name: Age, Length: 4474, dtype: int64

In [19]:
employees.filter(like='HD')

Education
PHD    25
PHD    27
PHD    34
PHD    28
PHD    25
       ..
PHD    34
PHD    31
PHD    23
PHD    24
PHD    30
Name: Age, Length: 179, dtype: int64

In [21]:
employees.filter(like='HD').count()

np.int64(179)

In [22]:
employees.filter(regex='B')

Education
Bachelors    34
Bachelors    28
Bachelors    38
Bachelors    22
Bachelors    38
             ..
Bachelors    25
Bachelors    30
Bachelors    26
Bachelors    30
Bachelors    33
Name: Age, Length: 3601, dtype: int64

In [23]:
employees.filter(regex='^B')

Education
Bachelors    34
Bachelors    28
Bachelors    38
Bachelors    22
Bachelors    38
             ..
Bachelors    25
Bachelors    30
Bachelors    26
Bachelors    30
Bachelors    33
Name: Age, Length: 3601, dtype: int64