In [1]:
import pandas as pd
from sqlalchemy import create_engine

# connection string
engine = create_engine(
    "postgresql+psycopg2://udemy:udemy123@localhost:5434/udemy_master_of_pandas"
)

# read table
employees = pd.read_sql("SELECT * FROM master.employees;", engine)

In [2]:
employees

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,None
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,None,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [30]:
employees[['First Name' , 'Salary' , 'Team']]

    First Name  Salary                  Team
0      Douglas   97308             Marketing
1       Thomas   61933                  None
2        Maria  130590               Finance
3        Jerry  138705               Finance
4        Larry  101004       Client Services
..         ...     ...                   ...
995      Henry  132483          Distribution
996    Phillip   42392               Finance
997    Russell   96914               Product
998      Larry   60500  Business Development
999     Albert  129949                 Sales

[1000 rows x 3 columns]

In [31]:
employees.get(['First Name' , 'Salary' , 'Team'])

    First Name  Salary                  Team
0      Douglas   97308             Marketing
1       Thomas   61933                  None
2        Maria  130590               Finance
3        Jerry  138705               Finance
4        Larry  101004       Client Services
..         ...     ...                   ...
995      Henry  132483          Distribution
996    Phillip   42392               Finance
997    Russell   96914               Product
998      Larry   60500  Business Development
999     Albert  129949                 Sales

[1000 rows x 3 columns]

In [32]:
employees.loc[0,'First Name']

'Douglas'

In [33]:
employees.loc[[2,32,1],['First Name' , 'Salary']]

   First Name  Salary
2       Maria  130590
32       None  122340
1      Thomas   61933

In [34]:
employees.loc[:10 , 'Salary':]

    Salary  Bonus % Senior Management                  Team
0    97308    6.945              True             Marketing
1    61933    4.170              True                  None
2   130590   11.858             False               Finance
3   138705    9.340              True               Finance
4   101004    1.389              True       Client Services
5   115163   10.125             False                 Legal
6    65476   10.012              True               Product
7    45906   11.598              None               Finance
8    95570   18.523              True           Engineering
9   139852    7.524              True  Business Development
10   63241   15.132              True                  None

In [35]:
employees.set_index('First Name' , inplace = True)

In [36]:
employees.loc[['Thomas' , 'Maria'],['Gernder' , 'Salary']]

KeyError: "['Gernder'] not in index"

KeyError: "['Gernder'] not in index"