In [1]:
import pandas as pd
import numpy as np
from cvxpy.atoms.affine.index import index

In [2]:
a = np.random.randn(3,3)
b = np.random.randn(3,3)

In [3]:
np.dot(a,b)

array([[-0.75760978, -0.92663578, -0.6589279 ],
       [ 0.34402978,  2.40315802,  0.42027743],
       [-1.49334107, -1.01124031, -1.24932457]])

In [4]:
a = np.random.randn(4,3)
b = np.random.randn(3,3)
np.dot(a,b)

array([[ 0.41915915, -1.75966621,  1.18652167],
       [-1.09942947, -0.41589853,  1.00761485],
       [ 1.15206027,  0.46928388, -0.60703235],
       [-2.25990884,  0.01855059,  0.69712355]])

In [5]:
df1 = pd.DataFrame(np.random.rand(2,3))
df2 = pd.DataFrame(np.random.rand(3,3))
df1.dot(df2)

          0         1         2
0  1.038522  0.798867  0.589154
1  0.614693  0.638599  0.443832

In [7]:
df1 = pd.DataFrame(np.random.rand(2,3) , columns=['A','B','C'])
df2 = pd.DataFrame(np.random.rand(3,3) ,index=['A' , 'B' , 'C'], columns=['A','B','C'])
df1.dot(df2)

          A         B         C
0  0.193096  0.965407  0.576692
1  0.467459  0.453025  0.627907

In [8]:
df1.product()

A    0.015398
B    0.218082
C    0.126274
dtype: float64

In [9]:
df1.prod()

A    0.015398
B    0.218082
C    0.126274
dtype: float64

In [10]:
proddf = df1.prod()
proddf.product()

np.float64(0.00042402635061600626)

In [12]:
df1.cumsum()

          A         B         C
0  0.498815  0.505329  0.148183
1  0.529683  0.936893  1.000334

In [13]:
df1.corr()

     A    B    C
A  1.0  1.0 -1.0
B  1.0  1.0 -1.0
C -1.0 -1.0  1.0

In [14]:
df1.cov()

          A         B         C
A  0.109487  0.017259 -0.164709
B  0.017259  0.002721 -0.025964
C -0.164709 -0.025964  0.247785