In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(100,8),columns=['A','B','C','D','E','F','G','H'])
df

,A,B,C,D,E,F,G,H
0,0.040951,0.025126,0.214317,0.277694,0.741892,0.791456,0.998610,0.599996
1,0.353355,0.850128,0.704456,0.507988,0.126227,0.452697,0.134501,0.623879
2,0.100491,0.264167,0.461171,0.931258,0.099655,0.809448,0.646722,0.071649
3,0.316475,0.315940,0.707349,0.804621,0.144668,0.136534,0.787244,0.214831
4,0.188569,0.677354,0.402755,0.419471,0.687772,0.175029,0.971559,0.745508
...,...,...,...,...,...,...,...,...
95,0.836712,0.506591,0.778528,0.053568,0.869483,0.908800,0.033060,0.385869
96,0.731476,0.150320,0.258822,0.193041,0.728936,0.156260,0.343088,0.261772
97,0.219367,0.625655,0.777866,0.261916,0.461535,0.469423,0.510960,0.222719
98,0.657716,0.663332,0.094234,0.352216,0.064658,0.249276,0.626297,0.798560
99,0.913345,0.945814,0.770803,0.250285,0.043931,0.606484,0.411017,0.835180

In [2]:
df.nunique()

A    100
B    100
C    100
D    100
E    100
F    100
G    100
H    100
dtype: int64

In [4]:
data = {
    'Name':['Maria' , 'Ishfee' , 'Isabel' , 'Maria' , 'Natalia' , 'Ishfee'],
    'Age':[4,3,4,4,5,3]
}
df = pd.DataFrame(data)
df

      Name  Age
0    Maria    4
1   Ishfee    3
2   Isabel    4
3    Maria    4
4  Natalia    5
5   Ishfee    3

In [5]:
df.nunique()

Name    4
Age     3
dtype: int64

In [6]:
df['Name'].nunique()

4

In [7]:
df['Name'].unique()

array(['Maria', 'Ishfee', 'Isabel', 'Natalia'], dtype=object)

In [8]:
df['Name'].duplicated()

0    False
1    False
2    False
3     True
4    False
5     True
Name: Name, dtype: bool

In [9]:
df[df['Name'].duplicated()]

     Name  Age
3   Maria    4
5  Ishfee    3

In [10]:
df[df['Name'].duplicated()].count()

Name    2
Age     2
dtype: int64