In [1]:
import pandas as pd
from statsmodels.sandbox.regression.example_kernridge import index

series = pd.Series([1,2,3] , ['a','b','c'])

In [2]:
series

a    1
b    2
c    3
dtype: int64

In [3]:
series.index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
series = pd.Series(index=[1,2,3] ,data = ['a','b','c'])
series

1    a
2    b
3    c
dtype: object

In [5]:
series = pd.Series(data=[1,2,3] ,index = ['a','b','c'])
series

a    1
b    2
c    3
dtype: int64

In [7]:
series = pd.Series(index=[1,2,3] ,data = ['a','b','c'] , dtype='string')
series

1    a
2    b
3    c
dtype: string

In [8]:
series = pd.Series(index=[1,2,3] ,data = ['a','b','c'] , dtype='category')
series

1    a
2    b
3    c
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [9]:
series = pd.Series(index=[1,2,3] ,data = ['a','b','c'] , dtype='category' , name='Myseries')
series

1    a
2    b
3    c
Name: Myseries, dtype: category
Categories (3, object): ['a', 'b', 'c']

In [10]:
series.index.name = 'index'
series

index
1    a
2    b
3    c
Name: Myseries, dtype: category
Categories (3, object): ['a', 'b', 'c']

In [11]:
employee = pd.read_csv('employee.csv')
employee

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [12]:
employee = pd.read_csv('employee.csv' , usecols=['Education']).squeeze()
employee

0       Bachelors
1       Bachelors
2       Bachelors
3         Masters
4         Masters
          ...
4648    Bachelors
4649      Masters
4650      Masters
4651    Bachelors
4652    Bachelors
Name: Education, Length: 4653, dtype: object

In [13]:
employee = pd.read_csv('employee.csv' , usecols=['Education' , 'Age'] , index_col=0).squeeze()
employee

Education
Bachelors    34
Bachelors    28
Bachelors    38
Masters      27
Masters      24
             ..
Bachelors    26
Masters      37
Masters      27
Bachelors    30
Bachelors    33
Name: Age, Length: 4653, dtype: int64

In [14]:
employee = pd.read_csv('employee.csv' , usecols=['Education' , 'Age'] , index_col=1).squeeze()
employee

Age
34    Bachelors
28    Bachelors
38    Bachelors
27      Masters
24      Masters
        ...
26    Bachelors
37      Masters
27      Masters
30    Bachelors
33    Bachelors
Name: Education, Length: 4653, dtype: object

In [15]:
employee = pd.read_csv('employee.csv' , usecols=['Education' , 'Age'] , index_col='Age').squeeze()
employee

Age
34    Bachelors
28    Bachelors
38    Bachelors
27      Masters
24      Masters
        ...
26    Bachelors
37      Masters
27      Masters
30    Bachelors
33    Bachelors
Name: Education, Length: 4653, dtype: object

In [16]:
len(employee)

4653

In [17]:
employee = pd.read_csv('employee.csv' ,
                       usecols=['Education' , 'Age'] , 
                       index_col='Age',
                       nrows=100
                       ).squeeze()
employee

Age
34    Bachelors
28    Bachelors
38    Bachelors
27      Masters
24      Masters
        ...
26          PHD
31    Bachelors
27    Bachelors
29    Bachelors
24    Bachelors
Name: Education, Length: 100, dtype: object

In [18]:
len(employee)

100