In [1]:
import pandas as pd
city = pd.read_csv('Employee.csv' , usecols=['City' , 'Age'] , index_col=0).squeeze()

In [2]:
city

City
Bangalore    34
Pune         28
New Delhi    38
Bangalore    27
Pune         24
             ..
Bangalore    26
Pune         37
New Delhi    27
Bangalore    30
Bangalore    33
Name: Age, Length: 4653, dtype: int64

In [4]:
city.where(city<26)

City
Bangalore     NaN
Pune          NaN
New Delhi     NaN
Bangalore     NaN
Pune         24.0
             ...
Bangalore     NaN
Pune          NaN
New Delhi     NaN
Bangalore     NaN
Bangalore     NaN
Name: Age, Length: 4653, dtype: float64

In [5]:
city.where(city<26 , other = 0)

City
Bangalore     0
Pune          0
New Delhi     0
Bangalore     0
Pune         24
             ..
Bangalore     0
Pune          0
New Delhi     0
Bangalore     0
Bangalore     0
Name: Age, Length: 4653, dtype: int64

In [7]:
city.where((city<26) & (city>22))

City
Bangalore     NaN
Pune          NaN
New Delhi     NaN
Bangalore     NaN
Pune         24.0
             ...
Bangalore     NaN
Pune          NaN
New Delhi     NaN
Bangalore     NaN
Bangalore     NaN
Name: Age, Length: 4653, dtype: float64

In [8]:
city

City
Bangalore    34
Pune         28
New Delhi    38
Bangalore    27
Pune         24
             ..
Bangalore    26
Pune         37
New Delhi    27
Bangalore    30
Bangalore    33
Name: Age, Length: 4653, dtype: int64

In [9]:
city.mask(city < 26 )

City
Bangalore    34.0
Pune         28.0
New Delhi    38.0
Bangalore    27.0
Pune          NaN
             ...
Bangalore    26.0
Pune         37.0
New Delhi    27.0
Bangalore    30.0
Bangalore    33.0
Name: Age, Length: 4653, dtype: float64

In [10]:
city.mask((city < 26) & (city>22) )

City
Bangalore    34.0
Pune         28.0
New Delhi    38.0
Bangalore    27.0
Pune          NaN
             ...
Bangalore    26.0
Pune         37.0
New Delhi    27.0
Bangalore    30.0
Bangalore    33.0
Name: Age, Length: 4653, dtype: float64

In [11]:
city.between(22 , 26)

City
Bangalore    False
Pune         False
New Delhi    False
Bangalore    False
Pune          True
             ...
Bangalore     True
Pune         False
New Delhi    False
Bangalore    False
Bangalore    False
Name: Age, Length: 4653, dtype: bool

In [12]:
city[city.between(22 , 26)]

City
Pune         24
Bangalore    22
Pune         23
New Delhi    22
Bangalore    22
             ..
Pune         25
Bangalore    22
Bangalore    26
Bangalore    25
Bangalore    26
Name: Age, Length: 1545, dtype: int64

In [13]:
city.where(lambda c : c > 26)

City
Bangalore    34.0
Pune         28.0
New Delhi    38.0
Bangalore    27.0
Pune          NaN
             ...
Bangalore     NaN
Pune         37.0
New Delhi    27.0
Bangalore    30.0
Bangalore    33.0
Name: Age, Length: 4653, dtype: float64

In [14]:
city.where(lambda c : c > 26 , other = 0)

City
Bangalore    34
Pune         28
New Delhi    38
Bangalore    27
Pune          0
             ..
Bangalore     0
Pune         37
New Delhi    27
Bangalore    30
Bangalore    33
Name: Age, Length: 4653, dtype: int64

In [15]:
def getcity(x):
    return x > 26

In [17]:
city.where(getcity(city) , other = 0)

City
Bangalore    34
Pune         28
New Delhi    38
Bangalore    27
Pune          0
             ..
Bangalore     0
Pune         37
New Delhi    27
Bangalore    30
Bangalore    33
Name: Age, Length: 4653, dtype: int64

In [18]:
city.mask(getcity(city) , other = 0)

City
Bangalore     0
Pune          0
New Delhi     0
Bangalore     0
Pune         24
             ..
Bangalore    26
Pune          0
New Delhi     0
Bangalore     0
Bangalore     0
Name: Age, Length: 4653, dtype: int64

In [20]:
city.apply(lambda x : x > 26)

City
Bangalore     True
Pune          True
New Delhi     True
Bangalore     True
Pune         False
             ...
Bangalore    False
Pune          True
New Delhi     True
Bangalore     True
Bangalore     True
Name: Age, Length: 4653, dtype: bool

In [21]:
city[city.apply(lambda x : x > 26)]

City
Bangalore    34
Pune         28
New Delhi    38
Bangalore    27
New Delhi    38
             ..
Pune         30
Pune         37
New Delhi    27
Bangalore    30
Bangalore    33
Name: Age, Length: 3108, dtype: int64

In [24]:
city[city.apply(getcity)]

City
Bangalore    34
Pune         28
New Delhi    38
Bangalore    27
New Delhi    38
             ..
Pune         30
Pune         37
New Delhi    27
Bangalore    30
Bangalore    33
Name: Age, Length: 3108, dtype: int64