In [1]:
import pandas as pd
employees = pd.read_csv('Employee.csv')
employees

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [2]:
employees['Education']

0       Bachelors
1       Bachelors
2       Bachelors
3         Masters
4         Masters
          ...
4648    Bachelors
4649      Masters
4650      Masters
4651    Bachelors
4652    Bachelors
Name: Education, Length: 4653, dtype: object

In [3]:
employees['Education'].squeeze()

0       Bachelors
1       Bachelors
2       Bachelors
3         Masters
4         Masters
          ...
4648    Bachelors
4649      Masters
4650      Masters
4651    Bachelors
4652    Bachelors
Name: Education, Length: 4653, dtype: object

In [5]:
employee_edu=employees['Education'].squeeze()
employee_edu

0       Bachelors
1       Bachelors
2       Bachelors
3         Masters
4         Masters
          ...
4648    Bachelors
4649      Masters
4650      Masters
4651    Bachelors
4652    Bachelors
Name: Education, Length: 4653, dtype: object

In [6]:
employee_edu.count()

np.int64(4653)

In [7]:
employee_edu.loc[0]

'Bachelors'

In [8]:
employee_edu.loc[3]

'Masters'

In [9]:
employee_edu.loc[[2,5,66]]

2     Bachelors
5     Bachelors
66          PHD
Name: Education, dtype: object

In [10]:
employee_edu[3:5]

3    Masters
4    Masters
Name: Education, dtype: object

In [11]:
employee_edu[:5]

0    Bachelors
1    Bachelors
2    Bachelors
3      Masters
4      Masters
Name: Education, dtype: object

In [14]:
employees = pd.read_csv('Employee.csv' , usecols=['Education' , 'Age'] , index_col=0).squeeze()
employees

Education
Bachelors    34
Bachelors    28
Bachelors    38
Masters      27
Masters      24
             ..
Bachelors    26
Masters      37
Masters      27
Bachelors    30
Bachelors    33
Name: Age, Length: 4653, dtype: int64

In [15]:
employees.index

Index(['Bachelors', 'Bachelors', 'Bachelors', 'Masters', 'Masters',
       'Bachelors', 'Bachelors', 'Bachelors', 'Bachelors', 'Masters',
       ...
       'Bachelors', 'Bachelors', 'Masters', 'Bachelors', 'Bachelors',
       'Bachelors', 'Masters', 'Masters', 'Bachelors', 'Bachelors'],
      dtype='object', name='Education', length=4653)

In [16]:
employees.loc['PHD']

Education
PHD    25
PHD    27
PHD    34
PHD    28
PHD    25
       ..
PHD    34
PHD    31
PHD    23
PHD    24
PHD    30
Name: Age, Length: 179, dtype: int64

In [17]:
employees.loc['PHD'].count()

np.int64(179)

In [18]:
employees = pd.read_csv('Employee.csv' , usecols=['Education' , 'Age'] , index_col='Age').squeeze()
employees

Age
34    Bachelors
28    Bachelors
38    Bachelors
27      Masters
24      Masters
        ...
26    Bachelors
37      Masters
27      Masters
30    Bachelors
33    Bachelors
Name: Education, Length: 4653, dtype: object

In [20]:
employees.loc[25]

Age
25          PHD
25          PHD
25    Bachelors
25      Masters
25    Bachelors
        ...
25    Bachelors
25    Bachelors
25    Bachelors
25    Bachelors
25    Bachelors
Name: Education, Length: 418, dtype: object

In [23]:
employees.loc[35]

Age
35      Masters
35    Bachelors
35    Bachelors
35    Bachelors
35      Masters
        ...
35    Bachelors
35    Bachelors
35    Bachelors
35    Bachelors
35    Bachelors
Name: Education, Length: 123, dtype: object

In [24]:
employees.iloc[0]

'Bachelors'

In [25]:
employees.iloc[23:45]

Age
27    Bachelors
29    Bachelors
22    Bachelors
37    Bachelors
23    Bachelors
31    Bachelors
30      Masters
25          PHD
23    Bachelors
26    Bachelors
40    Bachelors
37    Bachelors
30    Bachelors
29    Bachelors
34    Bachelors
29    Bachelors
30    Bachelors
36    Bachelors
23      Masters
30    Bachelors
36    Bachelors
39    Bachelors
Name: Education, dtype: object

In [26]:
employees.iloc[2324:]

Age
28    Bachelors
27    Bachelors
26    Bachelors
30      Masters
28    Bachelors
        ...
26    Bachelors
37      Masters
27      Masters
30    Bachelors
33    Bachelors
Name: Education, Length: 2329, dtype: object