In [1]:
import pandas as pd
series = pd.Series([1,4,9])

In [2]:
series

0    1
1    4
2    9
dtype: int64

In [3]:
series = pd.Series([1,4,9] , ['a' , 'b' , 'c' ])
series

a    1
b    4
c    9
dtype: int64

In [4]:
series['a']

np.int64(1)

In [5]:
series = pd.Series([1,4,9] )
series

0    1
1    4
2    9
dtype: int64

In [6]:
series.index= ['a' , 'b' , 'c']

In [7]:
series

a    1
b    4
c    9
dtype: int64

In [13]:
series.reindex(['c' , 'a' , 'b'])
series

a    1
b    4
c    9
dtype: int64

In [15]:
series.reset_index()

  index  0
0     a  1
1     b  4
2     c  9

In [16]:
series.reset_index(name="values")

  index  values
0     a       1
1     b       4
2     c       9

In [17]:
series = pd.Series([1,4,9] )
series

0    1
1    4
2    9
dtype: int64

In [18]:
series.reset_index()

   index  0
0      0  1
1      1  4
2      2  9

In [19]:
series.reset_index(drop=True)

0    1
1    4
2    9
dtype: int64