In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(3,3) , columns=['a', 'b', 'c'])

In [3]:
df

          a         b         c
0 -0.936693 -0.128815 -1.403409
1  0.155745  0.983014 -2.196562
2 -0.605285  0.228687  0.622543

In [4]:
df['b']

0   -0.128815
1    0.983014
2    0.228687
Name: b, dtype: float64

In [5]:
df['b'][1]

np.float64(0.9830141453474083)

In [7]:
df.at[1,'b']

np.float64(0.9830141453474083)

In [8]:
df.loc[2]

a   -0.605285
b    0.228687
c    0.622543
Name: 2, dtype: float64

In [9]:
df.loc[1,'b']

np.float64(0.9830141453474083)

In [11]:
df.iloc[0]

a   -0.936693
b   -0.128815
c   -1.403409
Name: 0, dtype: float64

In [12]:
df.iloc[0]['a']

np.float64(-0.9366930264110586)

In [13]:
df.loc[0]['a']

np.float64(-0.9366930264110586)

In [14]:
df

          a         b         c
0 -0.936693 -0.128815 -1.403409
1  0.155745  0.983014 -2.196562
2 -0.605285  0.228687  0.622543

In [15]:
df.loc[0]['a']=10
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4120\641889046.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc[0]['a']=10

           a         b         c
0  10.000000 -0.128815 -1.403409
1   0.155745  0.983014 -2.196562
2  -0.605285  0.228687  0.622543

In [16]:
df['a'][1] = 222
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4120\2299834034.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['a'][1] = 222

            a         b         c
0   10.000000 -0.128815 -1.403409
1  222.000000  0.983014 -2.196562
2   -0.605285  0.228687  0.622543

In [17]:
df.at[2,'c'] = 3333
df

            a         b            c
0   10.000000 -0.128815    -1.403409
1  222.000000  0.983014    -2.196562
2   -0.605285  0.228687  3333.000000

In [19]:
df.iloc[0]['b'] = 999
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4120\3807440591.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0]['b'] = 999

            a           b            c
0   10.000000  999.000000    -1.403409
1  222.000000    0.983014    -2.196562
2   -0.605285    0.228687  3333.000000

In [20]:
df['a']=[100,200,900]
df

     a           b            c
0  100  999.000000    -1.403409
1  200    0.983014    -2.196562
2  900    0.228687  3333.000000

In [21]:
df['d']=[200,100,200]
df

     a           b            c    d
0  100  999.000000    -1.403409  200
1  200    0.983014    -2.196562  100
2  900    0.228687  3333.000000  200