In [1]:
import pandas as pd
from cvxpy import reshape

In [2]:
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),columns=['A','B','C'])

In [5]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
df.pow(2)

    A   B   C
0   1   4   9
1  16  25  36
2  49  64  81

In [7]:
df1 = pd.DataFrame(np.arange(1,10).reshape(3,3),columns=['A','B','C'])

In [8]:
df.pow(df1)

        A         B          C
0       1         4         27
1     256      3125      46656
2  823543  16777216  387420489

In [9]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
df['A']=[-4,-10,-20]

In [11]:
df

    A  B  C
0  -4  2  3
1 -10  5  6
2 -20  8  9

In [12]:
df.abs()

    A  B  C
0   4  2  3
1  10  5  6
2  20  8  9

In [13]:
df = pd.DataFrame(np.random.rand(3,3),columns=['A','B','C'])

In [14]:
df

          A         B         C
0  0.083964  0.095187  0.040608
1  0.787705  0.754247  0.443376
2  0.474935  0.172651  0.051046

In [16]:
df.round()

     A    B    C
0  0.0  0.0  0.0
1  1.0  1.0  0.0
2  0.0  0.0  0.0

In [17]:
df.apply(np.floor)

     A    B    C
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0

In [18]:
df.apply(np.square)

          A         B         C
0  0.007050  0.009061  0.001649
1  0.620479  0.568889  0.196582
2  0.225563  0.029808  0.002606

In [19]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),columns=['A','B','C'])

In [20]:
df['A']=[2.3 , 6.9 , 3.6]

In [21]:
df

     A  B  C
0  2.3  2  3
1  6.9  5  6
2  3.6  8  9

In [23]:
df.round()

     A  B  C
0  2.0  2  3
1  7.0  5  6
2  4.0  8  9

In [24]:
df.apply(np.ceil)

     A  B  C
0  3.0  2  3
1  7.0  5  6
2  4.0  8  9

In [25]:
df.apply(np.square)

       A   B   C
0   5.29   4   9
1  47.61  25  36
2  12.96  64  81

In [26]:
df.apply(np.sqrt)

          A         B         C
0  1.516575  1.414214  1.732051
1  2.626785  2.236068  2.449490
2  1.897367  2.828427  3.000000