In [1]:
import pandas as pd

In [3]:
data={
    'Name':['Maria','Ishfea','Isabele',None,'Maria','Natalia',None],
    'Age':[4,3,4,None,2,4,0]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

      Name  Age
0    Maria  4.0
1   Ishfea  3.0
2  Isabele  4.0
3     None  NaN
4    Maria  2.0
5  Natalia  4.0
6     None  0.0

In [6]:
df.count()

Name    5
Age     6
dtype: int64

In [7]:
df['Name'].count()

np.int64(5)

In [8]:
df['Age'].count()

np.int64(6)

In [9]:
df.value_counts()

Name     Age
Isabele  4.0    1
Ishfea   3.0    1
Maria    2.0    1
         4.0    1
Natalia  4.0    1
Name: count, dtype: int64

In [14]:
data={
    'Name':['Maria','Ishfea','Isabele',None,'Maria','Natalia',None],
    'Age':[4,3,4,None,4,4,0]
}

In [15]:
df2 = pd.DataFrame(data)

In [16]:
df2

      Name  Age
0    Maria  4.0
1   Ishfea  3.0
2  Isabele  4.0
3     None  NaN
4    Maria  4.0
5  Natalia  4.0
6     None  0.0

In [20]:
df2.value_counts()

Name     Age
Maria    4.0    2
Isabele  4.0    1
Ishfea   3.0    1
Natalia  4.0    1
Name: count, dtype: int64

In [18]:
data={
    'Name':['Maria','Ishfea','Isabele',None,'Maria','Natalia',None],
    'Age':[4,3,4,None,4,4,0],
    'fav frut':['apple' , 'greap','apple',None,'apple','lichi',None]
}

In [19]:
df3 = pd.DataFrame(data)

In [21]:
df3.value_counts()

Name     Age  fav frut
Maria    4.0  apple       2
Isabele  4.0  apple       1
Ishfea   3.0  greap       1
Natalia  4.0  lichi       1
Name: count, dtype: int64

In [22]:
df3.value_counts(dropna=False)

Name     Age  fav frut
Maria    4.0  apple       2
Isabele  4.0  apple       1
Ishfea   3.0  greap       1
Natalia  4.0  lichi       1
NaN      0.0  NaN         1
         NaN  NaN         1
Name: count, dtype: int64

In [23]:
df3.value_counts(normalize=True)

Name     Age  fav frut
Maria    4.0  apple       0.4
Isabele  4.0  apple       0.2
Ishfea   3.0  greap       0.2
Natalia  4.0  lichi       0.2
Name: proportion, dtype: float64