In [2]:
import pandas as pd
employees = pd.read_csv('Employee.csv')
employees

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [3]:
emp = employees['City']
emp

0       Bangalore
1            Pune
2       New Delhi
3       Bangalore
4            Pune
          ...
4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, Length: 4653, dtype: object

In [4]:
emp.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4648    False
4649    False
4650    False
4651    False
4652    False
Name: City, Length: 4653, dtype: bool

In [5]:
emp[emp.isna()]

Series([], Name: City, dtype: object)

In [6]:
emp.isna().sum()

np.int64(0)

In [7]:
emp[~emp.isna()]

0       Bangalore
1            Pune
2       New Delhi
3       Bangalore
4            Pune
          ...
4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, Length: 4653, dtype: object

In [8]:
emp.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4648    False
4649    False
4650    False
4651    False
4652    False
Name: City, Length: 4653, dtype: bool

In [9]:
emp[emp.isnull()]

Series([], Name: City, dtype: object)

In [10]:
emp.isnull().sum()

np.int64(0)

In [11]:
emp[~emp.isnull()]

0       Bangalore
1            Pune
2       New Delhi
3       Bangalore
4            Pune
          ...
4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, Length: 4653, dtype: object

In [12]:
emp.notna().sum()

np.int64(4653)

In [13]:
emp[emp.notna()]

0       Bangalore
1            Pune
2       New Delhi
3       Bangalore
4            Pune
          ...
4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, Length: 4653, dtype: object

In [14]:
emp[~emp.notna()]

Series([], Name: City, dtype: object)

In [15]:
emp.notnull().sum()

np.int64(4653)

In [16]:
emp[emp.notnull()]

0       Bangalore
1            Pune
2       New Delhi
3       Bangalore
4            Pune
          ...
4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, Length: 4653, dtype: object

In [17]:
emp[~emp.notnull()]

Series([], Name: City, dtype: object)