In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Employee.csv")

In [3]:
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [4]:
df.dtypes

Education                    object
JoiningYear                   int64
City                         object
PaymentTier                   int64
Age                           int64
Gender                       object
EverBenched                  object
ExperienceInCurrentDomain     int64
LeaveOrNot                    int64
dtype: object

In [6]:
df.shape

(4653, 9)

In [7]:
df.size

41877

In [8]:
df.ndim

2

In [9]:
df.columns

Index(['Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'],
      dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=4653, step=1)

In [11]:
df.empty

False

In [12]:
df.values

array([['Bachelors', 2017, 'Bangalore', ..., 'No', 0, 0],
       ['Bachelors', 2013, 'Pune', ..., 'No', 3, 1],
       ['Bachelors', 2014, 'New Delhi', ..., 'No', 2, 0],
       ...,
       ['Masters', 2018, 'New Delhi', ..., 'No', 5, 1],
       ['Bachelors', 2012, 'Bangalore', ..., 'Yes', 2, 0],
       ['Bachelors', 2015, 'Bangalore', ..., 'Yes', 4, 0]], dtype=object)

In [13]:
type(df.values)

numpy.ndarray

In [14]:
df.axes

[RangeIndex(start=0, stop=4653, step=1),
 Index(['Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender',
        'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'],
       dtype='object')]

In [15]:
df.axes[0]

RangeIndex(start=0, stop=4653, step=1)

In [16]:
df.axes[1]

Index(['Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender',
       'EverBenched', 'ExperienceInCurrentDomain', 'LeaveOrNot'],
      dtype='object')