In [17]:
import pandas as pd

employee = pd.read_csv('Employee.csv')

In [18]:
employee

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [19]:
employee['Education']

0       Bachelors
1       Bachelors
2       Bachelors
3         Masters
4         Masters
          ...
4648    Bachelors
4649      Masters
4650      Masters
4651    Bachelors
4652    Bachelors
Name: Education, Length: 4653, dtype: object

In [20]:
employee = pd.read_csv('Employee.csv' , usecols=['City']).squeeze()
employee

0       Bangalore
1            Pune
2       New Delhi
3       Bangalore
4            Pune
          ...
4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, Length: 4653, dtype: object

In [21]:
employee.head()

0    Bangalore
1         Pune
2    New Delhi
3    Bangalore
4         Pune
Name: City, dtype: object

In [22]:
employee.tail()

4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, dtype: object

In [23]:
employee.sample()

2138    New Delhi
Name: City, dtype: object

In [24]:
employee.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4653 entries, 0 to 4652
Series name: City
Non-Null Count  Dtype
--------------  -----
4653 non-null   object
dtypes: object(1)
memory usage: 36.5+ KB

In [25]:
employee.index.name = "employee City"

In [26]:
employee

employee City
0       Bangalore
1            Pune
2       New Delhi
3       Bangalore
4            Pune
          ...
4648    Bangalore
4649         Pune
4650    New Delhi
4651    Bangalore
4652    Bangalore
Name: City, Length: 4653, dtype: object

In [27]:
employee[1]

'Pune'

In [28]:
employee[[1 , 2 , 4 , 56]]

employee City
1          Pune
2     New Delhi
4          Pune
56    Bangalore
Name: City, dtype: object

In [29]:
employee.dtype

dtype('O')

In [30]:
employee.values

array(['Bangalore', 'Pune', 'New Delhi', ..., 'New Delhi', 'Bangalore',
       'Bangalore'], dtype=object)

In [31]:
employee = pd.read_csv('Employee.csv' , usecols=['City' , 'Education'] , index_col='Education').squeeze()
employee

Education
Bachelors    Bangalore
Bachelors         Pune
Bachelors    New Delhi
Masters      Bangalore
Masters           Pune
               ...
Bachelors    Bangalore
Masters           Pune
Masters      New Delhi
Bachelors    Bangalore
Bachelors    Bangalore
Name: City, Length: 4653, dtype: object

In [32]:
employee.name

'City'

In [33]:
employee.count

<bound method Series.count of Education
Bachelors    Bangalore
Bachelors         Pune
Bachelors    New Delhi
Masters      Bangalore
Masters           Pune
               ...
Bachelors    Bangalore
Masters           Pune
Masters      New Delhi
Bachelors    Bangalore
Bachelors    Bangalore
Name: City, Length: 4653, dtype: object>

In [34]:
employee.count()

np.int64(4653)

In [35]:
len(employee)

4653

In [36]:
employee.value_counts()

City
Bangalore    2228
Pune         1268
New Delhi    1157
Name: count, dtype: int64