In [4]:
import pandas as pd
from keras.src.ops import dtype
from polars.interchange.utils import dtype_to_polars_dtype_map

data = {
    'ID':[20,30,35],
    'Name':['Austin','Williams','Hogg'],
    'Salary':[100.23,200,300],
    'IsActive':[True,False,True],
}
df = pd.DataFrame(data)
df

   ID      Name  Salary  IsActive
0  20    Austin  100.23      True
1  30  Williams  200.00     False
2  35      Hogg  300.00      True

In [5]:
df.dtypes

ID            int64
Name         object
Salary      float64
IsActive       bool
dtype: object

In [6]:
df = pd.DataFrame(data , dtype='string')

In [7]:
df.dtypes

ID          string[python]
Name        string[python]
Salary      string[python]
IsActive    string[python]
dtype: object

In [8]:
df = pd.DataFrame(data , dtype='object')
df.dtypes

ID          object
Name        object
Salary      object
IsActive    object
dtype: object

In [9]:
df['ID'].dtype

dtype('O')

In [10]:
df['ID'].astype('int64')

0    20
1    30
2    35
Name: ID, dtype: int64

In [11]:
df['ID'] = df['ID'].astype('int64')
df.dtypes

ID           int64
Name        object
Salary      object
IsActive    object
dtype: object

In [12]:
df['Name'] = df['Name'].astype('string')
df.dtypes

ID                   int64
Name        string[python]
Salary              object
IsActive            object
dtype: object

In [16]:
data  = {
    "ID":[25 , 20 , 28]
}
df2 = pd.DataFrame(data , dtype='int')
df2

   ID
0  25
1  20
2  28

In [17]:
df2.dtypes

ID    int64
dtype: object

In [18]:
df2['Name'] = pd.DataFrame({'Name':['Maria' , 'Austin' , 'Williams']} , dtype='object')
df2

   ID      Name
0  25     Maria
1  20    Austin
2  28  Williams

In [19]:
df2.dtypes

ID       int64
Name    object
dtype: object

In [20]:
df2['join date'] = pd.date_range('2025-01-05' , periods=3)

In [21]:
df2

   ID      Name  join date
0  25     Maria 2025-01-05
1  20    Austin 2025-01-06
2  28  Williams 2025-01-07

In [22]:
df2.dtypes

ID                    int64
Name                 object
join date    datetime64[ns]
dtype: object

In [24]:
df2['join date']=df2['join date'].astype('string')

In [25]:
df2.dtypes

ID                    int64
Name                 object
join date    string[python]
dtype: object

In [26]:
df2['join date'] = pd.DataFrame(['2024-12-31' , '2023-10-11' , '2025-01-02'] , dtype='datetime64[ns]')

In [27]:
df2

   ID      Name  join date
0  25     Maria 2024-12-31
1  20    Austin 2023-10-11
2  28  Williams 2025-01-02

In [28]:
df2['Gender'] = pd.DataFrame(['female' , 'male' , 'other'],dtype='category')

In [29]:
df2

   ID      Name  join date  Gender
0  25     Maria 2024-12-31  female
1  20    Austin 2023-10-11    male
2  28  Williams 2025-01-02   other

In [30]:
df2.dtypes

ID                    int64
Name                 object
join date    datetime64[ns]
Gender             category
dtype: object